* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
p {
  font-family: Lato;
}
.swiperContainer {
  background-color: antiquewhite;
  border: 1px solid black;
  padding: 0.5rem 0rem;
  width: 100vw;
  overflow: hidden;
  animation: all 0.3s ease-in-out;
}
.swiperItem {
  height: 100px;
  border: 1px solid grey;
  display: inline-block;
}
.movingCont {
  display: flex;
  width: 100%;
  border: 1px solid blueviolet;
}
